
*{
  /* font-family: 'Open Sans', sans-serif; */
}
.portifolio{
  height: 100vh;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-areas: 
    "portifolio__menu portifolio__body";
    background-color: #020514;
}
.portifolio__section__header{
  font-size: 2rem;
  grid-area: header;
  margin: 0;
  color: white;
  width: 100%;
  border-bottom: 5px solid white;
}
.portifolio__menu{
  grid-area: portifolio__menu;
  background-color: #353950
}
.portifolio__body{
  padding: 3% 5%;
  display: flex;
  flex-direction: column;
  color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  gap: 2%;
}
.about_me{
  height: auto;
}
.about_me__text{
  padding-left: 20px;
  margin-bottom: 0;
}
.whatIdo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr auto;
  grid-template-areas: 
    "header header"
    "box box";
  grid-column-gap: 20px;
}
  .whatIdo__box{
    margin-top: 10px;
    min-height: 200px;
    grid-area: "box";
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .3);
  }
    .whatIdo__box h3{
      margin: 0;
    }
    .whatIdo__box__image{
      padding: 20px 40px;
      max-width: 20%;
      height: auto;
    }
    .whatIdo__box__body{
      width: 100%;
      padding: 10px 10px 10px 10px
    }
      .whatIdo__box__body__text{
        font-weight: 300;
        letter-spacing: 1px;
        text-align: justify;
      }
      .whatIdo__box__body__list{
        font-weight: 300;
        letter-spacing: 1px;
        text-align: justify;
        margin: 0;
        width: 100%;
        list-style: none;
        padding: 0;
      }
      .whatIdo__box__body__list li{
        width: 50%;
        float: left;
      }
.menu{
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .menu__image{
    display: block;
    max-width: 90%;
    max-width: 250px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid white
  }
  .menu__info{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
  }
    .menu__info__name{
      margin: 10px;
      color: white;
      font-size: 1.5rem;
      font-weight: bold;
      display: block;
    }
    .menu__info__text{
      text-align: center;
      margin: 5px;
    }
  .menu__social_media{
    padding-left: 0;
    display: inline-flex;
    margin-top: 70px;
    list-style: none;
  }
  .menu__social_media span{
    display: none;
  }
.burger{
    cursor: pointer;
    display: none;
}
.burger div{
    width: 35px;
    height: 4px;
    background-color: white;
    margin: 10px
}
.projects{
  margin-bottom: 5%;
  width: 100%;
}
  .project_grid{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .project_card{
    border: 2px solid white;
    position: relative;
    width: 100%;
    height: auto;
  }
  .project_card__image{
    width: 100%;
    height: 60vh;
  }
  .project_card__info{
    display: flex;
    flex-direction: column;
    color: black;
    top: 0;
    width: 100%;
    height: 60vh;
    position: absolute;
    background-color: rgba(255, 255, 255, .8);
    opacity: 0;
    transform: translate(0%, 100%);
    transition: transform 0.5s ease-out;
  }
    .project_card__info--active{
      transform: translate(0%, 0%);
    }
    .project_card__info__header{
      margin: 40px 0 0 0;
      font-size: 2rem;
      text-align: center;
    }
    .project_card__info__body{
      font-size: 1.0rem;
      margin: 0;
      margin-top: auto;
      padding: 0 10px;
    }
    .project_card__info__footer{
      margin-top: auto;
      padding: 0 10px 40px 10px;
      display: flex;
      justify-content: space-between;
    }
  @keyframes projectCardFadeIn{
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
  }
  @keyframes projectCardFadeOut{
    from{
        opacity: 1;
        transform: translateY(0);
    }
    to{
        opacity: 0;
        transform: translateY(100px);
    }
  }
  .btn:visited,
  .btn{
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: white;
    border: 2px solid #020514;
    width: 100px;
    background-color: #353950;
  }
  .btn--large{
    width: 110px;
    border: 4px solid #020514;
    font-weight: 500;
    height: 30px;
  }
  .btn--project_card{
    color:  #020514;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 100px;
    display: none;
  }


  @media only screen and (max-width: 1366px){
    .portifolio{
      grid-template-columns: 30% 70%;
    }
    .portifolio__body{
      padding: 3% 3%;
    }
    .project_grid{
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    .whatIdo__box__image{
      padding: 10px 20px;
    }
    .btn--project_card{
      display: block;
    }
    .whatIdo__box__image{
      padding: 10px 10px;
    }
    .whatIdo__box__body{
      padding: 0;
    }
  }


  @media only screen and (max-width: 1024px){
    .portifolio{
      grid-template-columns: 1fr;
      grid-template-rows: 100px auto;
      grid-template-areas: 
        "portifolio__menu"
        "portifolio__body";
    }
      .portifolio__menu{
        display: flex;
        justify-content: center;
      }
      .portifolio__body{
        margin: 0 10px;
        padding: 0;
      }
    .whatIdo{
      grid-template-rows: 0.1fr auto
    }
      .whatIdo__box{
        height: auto;
        margin: 10px 10px 0 10px;
        align-self: center;
      }
      .whatIdo__box h3{
       margin: 0;
      }
      .whatIdo__box__image{
        width: 100px;
        height: 100px;
      }
      .whatIdo__box__body{
        padding: 0 10px;
      }
      .whatIdo__box__body__text{
        letter-spacing: 0;
        margin: 0;
      }
    .menu{
      margin: 0;
      flex-direction: row;
    }
      .menu__image{
        width: 80px;
        height: 80px;
        margin: 0 10px;
      }
      .menu__info{
        width: 100%;
        margin-left: 10px;
      }
        .menu__info__name{
          margin: 5px 0;
          font-size: 1.2rem;
        }
        .menu__info__text{
          text-align: left;
          font-size: small;
          margin: 0;
        }
      .menu__social_media{
        padding: 10px 0;
        z-index: 999;
        width: 100%;
        background-color: rgba(53, 57, 80, .95);
        margin: 0;
        display: flex;
        flex-direction: column;
        opacity: 1;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -100%);
        transition: transform 0.3s ease-in;
      }
        .menu__social_media--active{
          top: 100px;
          transform: translate(-50%, 0%);
        }
        .menu__social_media li{
          text-align: center;
          width: 100%;
        }
        .menu__social_media li a:visited,
        .menu__social_media li a{
          text-align: center;
          text-decoration: none;
          color: white;
        }
        .menu__social_media span{
          display: block;
        }
      @keyframes menuSocialFade{
        from{
            opacity: 0;
            transform: translateY(-100px);
        }
        to{
            opacity: 1;
            transform: translateY(0px);
        }
      }
    .burger{
      margin-right: 10px;
      display: block;
    }
    .toggle .burger-l1{
        transform: rotate(-45deg) translate(-10px, 10px);
    }
    .toggle .burger-l2{
        opacity: 0;
    }
    .toggle .burger-l3{
        transform: rotate(45deg) translate(-10px, -10px);
    }
    .project_grid{
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
    .project_card{
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    .project_card__image{
      height: 60vh;
    }
    .project_card__info{
      height: 60vh;
    }
    .btn--project_card{
      display: block;
    }
  }

  @media only screen and (max-width: 767px){
    .whatIdo{
      grid-template-columns: 1fr;
      grid-template-areas: 
        "header"
        "box"
        "box";
    }
      .whatIdo__box{ 
        padding: 0 5px;
        height: auto;
      }
      .whatIdo__box__body{
        margin-left: 30px;
      }
    .project_card__image{
      height: 70vh;
    }
    .project_card__info{
      height: 70vh;
    }
  }

  @media only screen and (max-width: 320px){
    .about_me{
      min-height: 20vh;
    }
      .about_me__text{
        font-size: small;
      }
    .whatIdo{
      min-height: 70vh;
    }
      .whatIdo__box{
        height: 25vh;
      }
        .whatIdo__box h3{
          font-size: 1.0rem;
        }
        .whatIdo__box__body__text{
          font-size: small;
        }
        .whatIdo__box__body__list{
          font-size: small;
    }
    .project_card__info__body{
      font-size: small;
    }
  }

  /* @media only screen and (max-width: 1024px) and (max-height: 1366px) {
    .menu{
      margin-top: 15vh;
    }
    .about_me{
      min-height: 5vh;
    }
    .whatIdo{
      min-height: 35vh;
    }
      .whatIdo__box{
        height: 15vh;
      }
    .project_card__image{
      height: 30vh;
    }
    .project_card__info{
      height: 30vh;
    }
  } */